# .NET
**/bin/
**/obj/
*.user
.vs/
**/appsettings.Development.json

# NuGet
*.nupkg
project.lock.json

# React / Node
**/node_modules/
**/dist/
**/build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db